<div class="trm-contacts-creator">
  <form #contactForm="ngForm" (ngSubmit)="save(contactForm.value)" novalidate>
    <md-card>
      <md-card-title-group>
        <img md-card-md-image alt="Placeholder image" src="/assets/images/placeholder.png">
        <md-card-title></md-card-title>
        <md-card-subtitle></md-card-subtitle>
      </md-card-title-group>
      <md-card-content>
        <div fxLayout="column">
          <md-input-container fxFlex [dividerColor]="name.valid ? 'pristine' : 'warn'">
            <input #name="ngModel" ngModel mdInput placeholder="Name" name="name" required minlength="3">
            <md-hint align="end" *ngIf="!name.valid && !name.pristine">
              Name is required and must be at least 3 character long, is {{ name?.errors?.minlength?.actualLength }}.
            </md-hint>
          </md-input-container>
          <md-input-container fxFlex [dividerColor]="email.valid ? 'pristine' : 'warn'">
            <input #email="ngModel" ngModel mdInput placeholder="Email" name="email" trmValidateEmail>
            <md-hint align="end" *ngIf="!email.valid && !email.pristine">
              Not a valid email address.
            </md-hint>
          </md-input-container>
          <md-input-container fxFlex>
            <input ngModel mdInput placeholder="Birthday" name="birthday" type="date">
          </md-input-container>
          <md-input-container fxFlex>
            <input ngModel mdInput placeholder="Phone" name="phone">
          </md-input-container>
          <md-input-container fxFlex>
            <input ngModel mdInput placeholder="Website" name="website">
          </md-input-container>
          <fieldset ngModelGroup="address" fxLayout="column">
            <legend>Address</legend>
            <md-input-container fxFlex>
              <input ngModel mdInput placeholder="Street" name="street">
            </md-input-container>
            <md-input-container fxFlex>
              <input ngModel mdInput placeholder="Zip" name="zip">
            </md-input-container>
            <md-input-container fxFlex>
              <input ngModel mdInput placeholder="City" name="city">
            </md-input-container>
          </fieldset>
        </div>
      </md-card-content>
      <md-card-actions fxLayout fxLayoutAlign="center center">
        <button md-button type="submit" [disabled]="!contactForm.valid">Save</button>
        <a md-button title="Cancel creating new contact">Cancel</a>
      </md-card-actions>
    </md-card>
  </form>
</div>