<div class="trm-contacts-creator">
  <form #contactForm="ngForm" (ngSubmit)="save(contactForm.value)">
    <md-card>
      <md-card-title-group>
        <img md-card-md-image alt="Placeholder image" src="/assets/images/placeholder.png">
        <md-card-title></md-card-title>
        <md-card-subtitle></md-card-subtitle>
      </md-card-title-group>
      <md-card-content>
        <div fxLayout="column">
          <md-input-container fxFlex>
            <input ngModel mdInput placeholder="Name" name="name">
          </md-input-container>
          <md-input-container fxFlex>
            <input ngModel mdInput placeholder="Email" name="email">
          </md-input-container>
          <md-input-container fxFlex>
            <input ngModel mdInput placeholder="Birthday" name="birthday" type="date">
          </md-input-container>
          <md-input-container fxFlex>
            <input ngModel mdInput placeholder="Phone" name="phone">
          </md-input-container>
          <md-input-container fxFlex>
            <input ngModel mdInput placeholder="Website" name="website">
          </md-input-container>
          <fieldset ngModelGroup="address" fxLayout="column">
            <legend>Address</legend>
            <md-input-container fxFlex>
              <input ngModel mdInput placeholder="Street" name="street">
            </md-input-container>
            <md-input-container fxFlex>
              <input ngModel mdInput placeholder="Zip" name="zip">
            </md-input-container>
            <md-input-container fxFlex>
              <input ngModel mdInput placeholder="City" name="city">
            </md-input-container>
          </fieldset>
        </div>
      </md-card-content>
      <md-card-actions fxLayout fxLayoutAlign="center center">
        <button md-button type="submit">Save</button>
        <a md-button title="Cancel creating new contact">Cancel</a>
      </md-card-actions>
    </md-card>
  </form>
</div>